html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.logo{
	background-color: #fff;

	
}
.logo img{

    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 90px;
	display: inline-block;
	max-height: 100%;
	width: auto;
	max-width: 18%
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
nav ul li{
margin-left: 90px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	height: 100px;
}

article h6 {
	text-align: center;
	margin-top: 40px;
	color: #ee6e73;
	font-weight: 700;

}

article h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: 70px;
}
article h4{
	text-align: center;
	font-size: 1.8rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;

}
p{
	text-align: center;
	/*background-color: pink;*/

}
.welcome img{
	width: 100%;
	height:auto;
}
.welcome h6 {
	color: #ee6e73;
	font-weight: 700;
}
.promo-text{
	margin-top: 80px;
	margin-left: 80px;
}
.btn-flat{
	background-color: #ee6e73!important;
	color: #fff !important;
}
.training-program h6 {
	color: #ee6e73;
	font-weight: 700;
}
.training-program h4 {
	padding-top: 30px;
}
.training-program img {
	width: 100%;
	height:auto;
}
.training-program p {
	color: #919394;
	line-height: 1.6;
}
.training-program .btn-flat {

	margin: 30px 0 70px 0;
}

.our-results {
	background-color: #5c5757;
	color: #fff;
	text-align: center;
}
.our-results h6 {
	padding-top: 40px;
}
.our-results .container{
	padding-bottom: 40px;
}
.cifre ul li:first-child {
	font-size: 10.0rem;
	font-family: 'Lora', sans-serif;
	background: -webkit-linear-gradient(#333,#5c5757);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  dColorstr='#5c5757',GradientType=0 ); /* IE6-9 */

}
.cifre ul li:last-child {
	font-size: 2.0rem;
	margin-top: -45px;
}
.staff-instructors h6 {
		color: #ee6e73;
		font-weight: 700;
}
.staff-instructors p:first-child{
	font-weight: 500;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
.staff-instructors p:last-child{
	color: #919394;
    line-height: 1.6;
    padding-top: 30px;
}
.staff-instructors img{
	width: 100%;
	height:auto;
}
.staff-instructors h6{
	text-align: center;
	margin-top: 20px !important;
	color: #ee6e73;
	font-weight: 700 !important;
}
.about-us h2 {
	margin-top: 80px !important;
}


footer {
	background-color: #292929;
}
footer p {
	text-align: center;
	padding: 20px 0;
	color: white;
}
.footer-links {
	font-weight: 300;
	padding: 20px 0;
	text-align: center;
	line-height: 1.5;
}
	.footer-links a {
		color: #000;
	}
		.footer-links a:hover {
			color: red;
		}

.short-description {
	padding-top: 20px;
}

.social {
	padding-top: 20px;
}
	.social i {
		padding-left: 10px;
	}

#map {
	height: 400px;
	width: 100%;
}

.gm-style-mtc {
	display: none;
}
